{% block content %} 

{% if object_list %}

<h1>Bookmark List</h1>
<ol>
  {% for bookmark in object_list %}
  <li>
    <a target="_blank" href="{{ bookmark.url }}">{{ bookmark.name }}</a>
    <ul>
      <li><a href="{% url 'bookmarks:bookmark_edit' bookmark.id %}">edit</a> </li>
      <li><a href="{% url 'bookmarks:bookmark_delete' bookmark.id %}">delete</a></li>
    </ul>
    <br>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No bookmarks found currently</p>
{% endif %}
<a href="{% url 'bookmarks:bookmark_new' %}">new</a>
{% endblock %}